---
layout: landing
title: Ganzglasduschen, Reparaturverglasung, Spiegel und mehr
---
<div class="contact-box-aside">
  <div class="main-content">
    <h2>Willkommen bei Glaserei Butzen!</h2>
    <p>Profitieren Sie von handwerklicher Tradition und modernster Fertigungstechnik und nutzen Sie unser leistungsgerechten und leistungsstarken Dienste.</p>
    <p>Vielseitigkeit und Zuverlässigkeit sind unsere Spezialitäten.<br />
    Ihr Vertrauen in unsere Sicherheit und Kompetenz ist Ihr Vorteil.</p>
    <p>Falls Sie Fragen oder Interesse an unseren Dienstleistungen haben, nehmen Sie bitte Kontakt mit uns auf.</p>
  </div>
  {% include inline/contact-box.html %}
</div>
{% include inline/partners.html %}
