<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,700&subset=latin">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.2/css/fluidbox.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.2/js/jquery.fluidbox.min.js"></script>
<script src="{{ site.baseurl }}/js/imagelightbox.min.js"></script>
<script src="{{ site.baseurl }}/js/jqcloud.min.js"></script>
<script src="{{ site.baseurl }}/js/site.js"></script>
