@page {
	size: A4;
	margin: 0.8cm;
}

@media print {
	body {
		margin: none;
		padding: none;
		width: auto;
		max-width: none;
		min-width: auto;
		font-size: 12px;
	}

	* {
		background: transparent !important;
		text-shadow: none !important;
		color: #111 !important;
		border-color: #111 !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	pre, blockquote, img {
		page-break-inside: avoid;
	}

	h1, h2, h3 {
		page-break-after: avoid;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	#wrapper {
		width: 1015px;
	}

	#header {
		height: 100px;
		width: 400px;
		padding: 79px 0 0 0;
		float: left;
	}

	#menu {
		margin: 0 0 0 400px;
		height: 35px;
		width: 615px;
		padding: 84px 0 60px 0;
	}

	#menu ul { float: right; list-style: none; padding: 0; height: 35px; }
	#menu li { float: left; margin: 0 0 0 26px; padding: 0; height: 35px }
	#menu a { display: block; height: 35px; line-height: 35px; font-size: 14px; margin: 0; text-decoration: none; font-weight: bold }

	#footer {
		width: 1015px;
		padding: 25px 0 0 0;
		height: 55px;
		text-align: center;
	}

	#pushfooter {
		clear: both;
		height: 0;
	}

	#content {
		padding: 30px 0 0 0;
	}

	#content a, #content a:visited {
		text-decoration: underline;
	}

	#content a:hover, #content a:active {
		text-decoration: none;
	}

	ul#partners {
		list-style: none;
		margin-top: 3em;
		padding: 0;
		width: 1015px;
		height: 70px;
	}

	ul#partners li {
		display: block;
		width: 168px;
		height: 70px;
		float: left;
		line-height: 60px;
		text-align: center;
	}

	ul#partners li img {
		vertical-align: middle;
	}

	.startbanner {
		display: block;
		margin: 0.8em auto 3em 0;
	}

	#dlwrapper {
		margin-top: 1.8em;
	}

	#dlwrapper h2 {
		margin-top: 0;
	}

	#dlwrapper #dlleft, #dlwrapper #dlright {
		width: 45%;
	}

	#dlwrapper #dlleft {
		float: left;
	}

	#dlwrapper #dlright {
		margin-left: 50%;
	}

	#dlclear { height: 0; clear: both; margin-bottom: 2em; }

	ul.downloads {
		list-style: none;
		margin: 0; padding: 0;
	}

	ul.downloads li {
		margin: 0; padding: 0.3em 0 0.2em;
	}

	ul.downloads a {
		display: block;
		text-decoration: none !important;
		line-height: 24px;
	}

	a.dlreader {
		display: none;
	}

	form input[type="text"], form input[type="submit"], form input[type="reset"], form textarea, form select {
		padding: 3px 6px;
		font: inherit;
		line-height: 14px;
		border: 1px solid #111;
	}

	form .formElement label {
		line-height: 14px;
		padding: 4px 7px;
	}

	form .formRecaptcha {
		display: none;
	}

	#sidewrapper #sidecontent {
		width: 768px;
		float: left;
	}

	#sidewrapper #sidebar {
		border: 1px solid #E9E9E9 !important;
		border-radius: 4px 4px 4px 4px;
		padding: 10px 5px 8px 5px;
		margin-left: 777px;
		width: 228px;
	}

	#sidewrapper #sideclear {
		clear: both;
	}

	.contact {
		margin-top: 0.8em;
		margin-bottom: 0.4em;
		width: 220px;
	}

	.contact .label, .contact .field {
		display: block;
		line-height: 14px;
		height: 14px;
		margin-bottom: 0.4em;
	}

	.contact .label {
		float: left;
		width: 20%;
	}

	.contact .field {
		margin-left: 24%;
		width: 76%;
	}
}
