<div class="image-slideshow-wrapper" id="company-slideshow">
  <div class="image-slideshow-content">
    <img src="/img/company_1.jpg" alt="Bilderschau, Bild 1" />
    <img src="/img/company_2.jpg" alt="Bilderschau, Bild 2" />
    <img src="/img/company_3.jpg" alt="Bilderschau, Bild 3" />
    <img src="/img/company_4.jpg" alt="Bilderschau, Bild 4" />
    <img src="/img/company_5.jpg" alt="Bilderschau, Bild 5" />
    <img src="/img/company_6.jpg" alt="Bilderschau, Bild 6" />
    <img src="/img/company_7.jpg" alt="Bilderschau, Bild 7" />
    <img src="/img/company_8.jpg" alt="Bilderschau, Bild 8" />
    <img src="/img/company_9.jpg" alt="Bilderschau, Bild 9" />
    <img src="/img/company_10.jpg" alt="Bilderschau, Bild 10" />
    <img src="/img/company_11.jpg" alt="Bilderschau, Bild 11" />
    <img src="/img/company_12.jpg" alt="Bilderschau, Bild 12" />
  </div>
</div>
