<div class="image-slideshow-wrapper" id="company-slideshow">
  <div class="image-slideshow-content">
    <img src="/img/company/company1.jpg" alt="Bilderschau, Bild 1" />
    <img src="/img/company/company2.jpg" alt="Bilderschau, Bild 2" />
    <img src="/img/company/company3.jpg" alt="Bilderschau, Bild 3" />
    <img src="/img/company/company4.jpg" alt="Bilderschau, Bild 4" />
    <img src="/img/company/company5.jpg" alt="Bilderschau, Bild 5" />
    <img src="/img/company/company6.jpg" alt="Bilderschau, Bild 6" />
    <img src="/img/company/company7.jpg" alt="Bilderschau, Bild 7" />
    <img src="/img/company/company8.jpg" alt="Bilderschau, Bild 8" />
    <img src="/img/company/company9.jpg" alt="Bilderschau, Bild 9" />
    <img src="/img/company/company10.jpg" alt="Bilderschau, Bild 10" />
    <img src="/img/company/company11.jpg" alt="Bilderschau, Bild 11" />
    <img src="/img/company/company12.jpg" alt="Bilderschau, Bild 12" />
  </div>
</div>
