<div class="contact-box">
  <a href="https://www.google.de/maps/place/Glaserei+Butzen/@51.3056285,6.2466812,15z/data=!4m2!3m1!1s0x0:0xef66a9f09fa394dd" target="_blank" class="contact-place" title="Glaserei Butzen">
    <img src="http://maps.google.com/maps/api/staticmap?language=de&zoom=12&size=480x360&markers=color:red|label:A|51.3056065,6.246707&sensor=false" />
  </a>
  <dl class="contact-info">
    <dt>Tel.</dt>
    <dd><a href="tel:+492153957209" title="+49 (0) 21 53 / 95 72 09">+49 (0) 21 53 / 95 72 09</a></dd>
    <dt>Fax</dt>
    <dd><a href="fax:+492153957210" title="+49 (0) 21 53 / 95 72 10">+49 (0) 21 53 / 95 72 10</a></dd>
    <dt>E-Mail</dt>
    <dd><a href="mailto:{{ site.email | encode_email }}" title="{{ site.email }}">{{ site.email }}</a></dd>
  </dl>
</div>
