<section class="cover">
  <div class="cover-images">
    <div class="cover-image visible trianglify" data-x-colors="#0E6B39, #16af60, #0E6B39" data-y-colors="#0E6B39, #16af60, #0E6B39" data-cellspace="100"></div>
    <div class="cover-image trianglify" data-x-colors="#0E396B, #1660af, #0B39E6" data-y-colors="#0E6B39, #16af60, #0E6B39" data-cellspace="100"></div>
    <div class="cover-image trianglify" data-x-colors="#E60B39, #af1660, #6B0E39" data-y-colors="#0E6B39, #16af60, #0E6B39" data-cellspace="100"></div>
  </div>
  <div class="navigation-wrapper">
    {% include inline/navigation.html %}
  </div>
  <h1 class="cover-lead">Glaserei Butzen</h1>
  <p class="cover-slogan">Ihr Glaser im Grenzland</p>
  <a href="#content" class="cover-arrow-down animated-scroll"></a>
</section>
