<section class="cover">
  <div class="cover-images">
    <div class="cover-image cover-image-one visible"></div>
    <div class="cover-image cover-image-two"></div>
    <div class="cover-image cover-image-three"></div>
    <div class="cover-image cover-image-four"></div>
  </div>
  <div class="navigation-wrapper">
    {% include inline/navigation.html %}
  </div>
  <!--h1 class="cover-lead">Glaserei Butzen</h1>
  <p class="cover-slogan">Ihr Glaser im Grenzland</p-->
  <img class="cover-logo" src="/img/logo-cover.svg" alt="Glaserei Butzen - Ihr Glaser im Grenzland">
  <a href="#content" class="cover-arrow-down animated-scroll"></a>
</section>
