<header class="segment navigation-segment navigation first">
  <a href="{{ site.baseurl }}/" class="site-logo" title="GlasButzen">
    <img src="{{ site.baseurl }}/img/logo.svg" alt="GlasButzen">
  </a>
  <ul class="site-menu">
    <li><a href="{{ site.baseurl }}/" title="Home">Home</a></li>
    <li><a href="{{ site.baseurl }}/leistungen.html" title="Leistungen">Leistungen</a></li>
    <li><a href="{{ site.baseurl }}/unternehmen.html" title="Unternehmen">Unternehmen</a></li>
    <li><a href="{{ site.baseurl }}/downloads.html" title="Downloads">Downloads</a></li>
    <li><a href="{{ site.baseurl }}/impressum.html" title="Impressum">Impressum</a></li>
  </ul>
</header>
