<div class="partners-segment-wrapper">
  <section class="segment partners-segment partners">
    <h2 class="partners-heading">Um Ihren Anfordungeren gerecht zu werden setzen wir auf starke Zusammenarbeit mit&nbsp;&hellip;</h2>
    <ul class="partners-list">
     <li><a class="dorma-logo" href="http://www.dorma.de/" target="_blank" title="DORMA Deutschland GmbH">
       <img src="/img/partners/dorma-logo.png" alt="DORMA Deutschland GmbH" />
     </a></li>
     <li><a class="pauli-sohn-logo" href="http://www.pauli.de/" target="_blank" title="Pauli+Sohn GmbH">
       <img src="/img/partners/pauli-sohn-logo.png" alt="Pauli+Sohn GmbH" />
     </a></li>
     <li><a class="klmegla-logo" href="http://kl-megla.de/" target="_blank" title="KL-megla&reg; GmbH">
       <img src="/img/partners/klmegla-logo.png" alt="KL-megla&reg; GmbH" />
     </a></li>
     <li><a class="sika-logo" href="http://deu.sika.com/" target="_blank" title="Sika Deutschland GmbH">
       <img src="/img/partners/sika-logo.png" alt="Sika Deutschland GmbH" />
     </a></li>
     <li><a class="otto-chemie-logo" href="http://www.otto-chemie.de/" target="_blank" title="Hermann Otto GmbH">
       <img src="/img/partners/otto-chemie-logo.png" alt="Hermann Otto GmbH" />
     </a></li>
     <li><a class="glasdesign2000-logo" href="http://www.glasdesign2000.de/" target="_blank" title="glasdesign2000.de GmbH">
       <img src="/img/partners/glasdesign2000-logo.png" alt="glasdesign2000.de GmbH" />
     </a></li>
    </ul>
  </section>
</div>
