<ul id="partners">
 <li><a href="http://www.dorma.de/" target="_blank"><img src="/img/partners/dorma.png" alt="" /></a></li>
 <li><a href="http://www.pauli.de/" target="_blank"><img src="/img/partners/pauli-sohn.png" alt="" /></a></li>
 <li><a href="http://kl-megla.de/" target="_blank"><img src="/img/partners/kl-megla.jpg" alt="" /></a></li>
 <li><a href="http://deu.sika.com/" target="_blank"><img src="/img/partners/sika_ag.png" alt="" /></a></li>
 <li><a href="http://www.otto-chemie.de/" target="_blank"><img src="/img/partners/otto-chemie.png" alt="" /></a></li>
 <li><a href="http://www.glasdesign2000.de/" target="_blank"><img src="/img/partners/glasdesign2000.png" alt="" /></a></li>
</ul>
