<div id="startslide">
  <div id="startslidecontent">
    <img src="/img/startslide/1.jpg" alt="" />
    <img src="/img/startslide/2.jpg" alt="" />
    <img src="/img/startslide/3.jpg" alt="" />
    <img src="/img/startslide/4.jpg" alt="" />
    <img src="/img/startslide/5.jpg" alt="" />
    <img src="/img/startslide/6.jpg" alt="" />
    <img src="/img/startslide/7.jpg" alt="" />
    <img src="/img/startslide/8.jpg" alt="" />
    <img src="/img/startslide/9.jpg" alt="" />
    <img src="/img/startslide/10.jpg" alt="" />
    <img src="/img/startslide/11.jpg" alt="" />
    <img src="/img/startslide/12.jpg" alt="" />
  </div>
</div>
